@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');


.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Chela One', cursive;
    background-color: #f8f9fd;
    background-image: url("https://i.pinimg.com/originals/33/93/b0/3393b04a2f206143b17f7a67a7ad5f0a.gif");
    background-size: cover;
    background-position: center;
    margin: -8px;
  }
  
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color:black;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }

  .input-container1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    color: rgba(30, 18, 1, 0.981);
    font-size: 20px;
  }

  .input-container2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
    color: #e5b57d;
    font-size: 20px;
  }